body {
    font-family: "Helvetica", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    color: #222;
}

header {
    text-align: center;
    padding: 50px 20px;
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
}

.title {
    font-size: 36px;
    margin: 0;
}

.subtitle {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}

.section {
    padding: 50px 20px;
    max-width: 900px;
    margin: auto;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 26px;
    border-left: 5px solid #000;
    padding-left: 10px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 10px;
}

.skills-grid span {
    padding: 12px;
    background: #fff;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ddd;
}

.project-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.project-card h3 {
    margin-top: 0;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.project-card a:hover {
    text-decoration: underline;
}

footer {
    background: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    border-top: 1px solid #ddd;
}
on{margin-bottom:20px}
